@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes text-shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-text-shimmer {
  animation: text-shimmer 3s linear infinite;
}
